body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f8f3;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #002c3e;
    padding: 5px 5px;
    color: #ffffff
}

.logo {
    padding: 10px;
    font-size: 15px;
    font-weight: bold;
    margin-right: auto;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    padding-left: 0px;
}

.nav-links li a {
    font-size: 15px;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
}

.nav-links li a:hover {
    background-color: #444;
    border-radius: 5px;
}

header {
    background-color: #002c3e;
    color: white;
    padding: 20px;
    font-size: 24px;
}

#searchBox {
    width: 60%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchBtn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.support-section {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 44, 62, 0.2);
    text-align: left;
}

.support-section h2 {
    color: #002c3e;
    font-size: 20px;
    border-bottom: 2px solid #002c3e;
    padding-bottom: 5px;
}

.support-section ul {
    list-style-type: none;
    padding-left: 10px;
}

.support-section ul li {
    margin-bottom: 10px;
}

footer {
    background-color: #002c3e;
    color: white;
    padding: 20px;
    font-size: 14px;
}
